doctype html
html(lang='en')
	head
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(charset='utf-8')
		title khuvuc
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
		// bootstrap & fontawesome
		link(rel='stylesheet', href='/assets1/css/bootstrap.min.css')
		link(rel='stylesheet', href='/assets1/font-awesome/4.5.0/css/font-awesome.min.css')
		// page specific plugin styles
		link(rel='stylesheet', href='/assets1/css/bootstrap-duallistbox.min.css')
		link(rel='stylesheet', href='/assets1/css/bootstrap-multiselect.min.css')
		link(rel='stylesheet', href='/assets1/css/select2.min.css')
		// text fonts
		link(rel='stylesheet', href='/assets1/css/fonts.googleapis.com.css')
		// ace styles
		link#main-ace-style.ace-main-stylesheet(rel='stylesheet', href='/assets1/css/ace.min.css')
		link(rel='stylesheet', href='/assets1/css/ace-skins.min.css')
		link(rel='stylesheet', href='/assets1/css/ace-rtl.min.css')
		script(src='/assets1/js/ace-extra.min.js')
	body.no-skin
		#navbar.navbar.navbar-default.ace-save-state
			#navbar-container.navbar-container.ace-save-state
				button#menu-toggler.navbar-toggle.menu-toggler.pull-left(type='button', data-target='#sidebar')
					span.sr-only Toggle sidebar
					span.icon-bar
					span.icon-bar
					span.icon-bar
				.navbar-header.pull-left
					a.navbar-brand(href='index.html')
						small
							i.fa.fa-leaf
							| 							Ace Admin
				.navbar-buttons.navbar-header.pull-right(role='navigation')
					ul.nav.ace-nav
						li.light-blue.dropdown-modal
							a.dropdown-toggle(data-toggle='dropdown', href='#')
								span.user-info
								|	#{admin.email}
								i.ace-icon.fa.fa-caret-down
							ul.user-menu.dropdown-menu-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
								li
									a(href='/admin/logout')
										i.ace-icon.fa.fa-power-off
										|  Logout
			// /.navbar-container
		#main-container.main-container.ace-save-state
			script(type='text/javascript').
				try{ace.settings.loadState('main-container')}catch(e){}
			#sidebar.sidebar.responsive.ace-save-state
				script(type='text/javascript').
					try{ace.settings.loadState('sidebar')}catch(e){}
				#sidebar-shortcuts.sidebar-shortcuts
					#sidebar-shortcuts-large.sidebar-shortcuts-large
						button.btn.btn-success
							i.ace-icon.fa.fa-signal
						button.btn.btn-info
							i.ace-icon.fa.fa-pencil
						button.btn.btn-warning
							i.ace-icon.fa.fa-users
						button.btn.btn-danger
							i.ace-icon.fa.fa-cogs
					#sidebar-shortcuts-mini.sidebar-shortcuts-mini
						span.btn.btn-success
						span.btn.btn-info
						span.btn.btn-warning
						span.btn.btn-danger
				// /.sidebar-shortcuts
				ul.nav.nav-list
					li
						a.dropdown-toggle(href='#')
							i.menu-icon.fa.fa-list
							span.menu-text Sản phẩm
							b.arrow.fa.fa-angle-down
						b.arrow
						ul.submenu
							li
								a(href='/admin/categoryproduct')
									i.menu-icon.fa.fa-caret-right
									|  Danh mục sản phẩm
								b.arrow
							li
								a(href='/admin/product')
									i.menu-icon.fa.fa-caret-right
									|  Sản phẩm
								b.arrow
							li
								a(href='/admin/addproduct')
									i.menu-icon.fa.fa-caret-right
									|  Thêm sản phẩm
								b.arrow
					li
						a.dropdown-toggle(href='#')
							i.menu-icon.fa.fa-pencil-square-o
							span.menu-text Quản lý bệnh  
							b.arrow.fa.fa-angle-down
						b.arrow
						ul.submenu
							li
								a(href='/admin/benhly')
									i.menu-icon.fa.fa-caret-right
									|  Bệnh lý
								b.arrow
							li
								a(href='/admin/categorytc')
									i.menu-icon.fa.fa-caret-right
									| Danh mục triệu chứng
								b.arrow
							li
								a(href='/admin/trieuchung')
									i.menu-icon.fa.fa-caret-right
									|  Triệu chứng
								b.arrow
							li
								a(href='/admin/cart/1')
									i.menu-icon.fa.fa-caret-right
									|  Quản lý hóa đơn
								b.arrow
							li
								a(href='/admin/managefeedback/1')
									i.menu-icon.fa.fa-caret-right
									|  Quản lý phản hồi
								b.arrow
					li
						a.dropdown-toggle(href='#')
							i.menu-icon.fa.fa-users
							span.menu-text Quản lý người dùng 
							b.arrow.fa.fa-angle-down
						b.arrow
						ul.submenu
							li
								a(href='/admin/manageuser')
									i.menu-icon.fa.fa-caret-right
									|  Người dùng
								b.arrow
							li
								a(href='/admin/manageadmin')
									i.menu-icon.fa.fa-caret-right
									|  admin
								b.arrow
					li
						a.dropdown-toggle(href='#')
							i.menu-icon.fa.fa-truck
							span.menu-text  Quản lý dịch vụ
							b.arrow.fa.fa-angle-down
						b.arrow
						ul.submenu
							li.active
								a(href='/admin/khuvuc')
									i.menu-icon.fa.fa-caret-right
									| Khu vực
								b.arrow
							li
								a(href='/admin/nhavc')
									i.menu-icon.fa.fa-caret-right
									| Nhà vận chuyển
								b.arrow
							li
								a(href='/admin/dichvu/1')
									i.menu-icon.fa.fa-caret-right
									| Dịch vụ
								b.arrow
				#sidebar-collapse.sidebar-toggle.sidebar-collapse
					i#sidebar-toggle-icon.ace-icon.fa.fa-angle-double-left.ace-save-state(data-icon1='ace-icon fa fa-angle-double-left', data-icon2='ace-icon fa fa-angle-double-right')
			.main-content
				.main-content-inner
					#breadcrumbs.breadcrumbs.ace-save-state
						ul.breadcrumb
							li
								i.ace-icon.fa.fa-home.home-icon
								a(href='#') Home
							li
								a(href='#') Forms
							li.active Form Elements 2
						// /.breadcrumb
						#nav-search.nav-search
							form.form-search
								span.input-icon
									input#nav-search-input.nav-search-input(type='text', placeholder='Search ...', autocomplete='off')
									i.ace-icon.fa.fa-search.nav-search-icon
						// /.nav-search
					.page-content
						#ace-settings-container.ace-settings-container
							#ace-settings-btn.btn.btn-app.btn-xs.btn-warning.ace-settings-btn
								i.ace-icon.fa.fa-cog.bigger-130
							#ace-settings-box.ace-settings-box.clearfix
								.pull-left.width-50
									.ace-settings-item
										.pull-left
											select#skin-colorpicker.hide
												option(data-skin='no-skin', value='#438EB9') #438EB9
												option(data-skin='skin-1', value='#222A2D') #222A2D
												option(data-skin='skin-2', value='#C6487E') #C6487E
												option(data-skin='skin-3', value='#D0D0D0') #D0D0D0
										span   Choose Skin
									.ace-settings-item
										input#ace-settings-navbar.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
										label.lbl(for='ace-settings-navbar')  Fixed Navbar
									.ace-settings-item
										input#ace-settings-sidebar.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
										label.lbl(for='ace-settings-sidebar')  Fixed Sidebar
									.ace-settings-item
										input#ace-settings-breadcrumbs.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
										label.lbl(for='ace-settings-breadcrumbs')  Fixed Breadcrumbs
									.ace-settings-item
										input#ace-settings-rtl.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
										label.lbl(for='ace-settings-rtl')  Right To Left (rtl)
									.ace-settings-item
										input#ace-settings-add-container.ace.ace-checkbox-2.ace-save-state(type='checkbox', autocomplete='off')
										label.lbl(for='ace-settings-add-container')
											| Inside
											b .container
								// /.pull-left
								.pull-left.width-50
									.ace-settings-item
										input#ace-settings-hover.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
										label.lbl(for='ace-settings-hover')  Submenu on Hover
									.ace-settings-item
										input#ace-settings-compact.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
										label.lbl(for='ace-settings-compact')  Compact Sidebar
									.ace-settings-item
										input#ace-settings-highlight.ace.ace-checkbox-2(type='checkbox', autocomplete='off')
										label.lbl(for='ace-settings-highlight')  Alt. Active Item
								// /.pull-left
							// /.ace-settings-box
						// /.ace-settings-container
						.page-header
							h1
								b Khu vực
						// /.page-header
						.row
							.col-xs-12
								// PAGE CONTENT BEGINS
								table#simple-table.table.table-bordered.table-hover
									thead
										tr
											th.detail-col STT
											th Tên khu vực
											th
									tbody
										each khuvuc, i in khuvucs
											tr
												td.center #{i+1}
												td
													a(onclick="location.href='/admin/khuvuccha/#{khuvuc._id}'") #{khuvuc.ten}
												td
													.hidden-sm.hidden-xs.btn-group
														button.btn.btn-xs.btn-danger(onclick="location.href='/admin/removekhuvuc/#{khuvuc._id}&#{khuvuccha}'")
															i.ace-icon.fa.fa-trash-o.bigger-120
													.hidden-md.hidden-lg
														.inline.pos-rel
															button.btn.btn-minier.btn-primary.dropdown-toggle(data-toggle='dropdown', data-position='auto')
																i.ace-icon.fa.fa-cog.icon-only.bigger-110
															ul.dropdown-menu.dropdown-only-icon.dropdown-yellow.dropdown-menu-right.dropdown-caret.dropdown-close
																li
																	a.tooltip-info(href='#', data-rel='tooltip', title='View')
																		span.blue
																			i.ace-icon.fa.fa-eye.bigger-120
																li
																	a.tooltip-success(href='#', data-rel='tooltip', title='Edit')
																		span.green
																			i.ace-icon.fa.fa-pencil-square-o.bigger-120
																li
																	a.tooltip-error(href='#', data-rel='tooltip', title='Delete')
																		span.red
																			i.ace-icon.fa.fa-trash-o.bigger-120
								.col-md-7
									h1 Thêm khu vực mới
									br
									form(action='/admin/khuvuc/add' method='post')
										.form-group
											h4 Tên khu vực:
											input.form-control(type='text' name='ten')
											input.form-control(type='hidden' name='khuvuccha' value='#{khuvuccha}')
										.form-group
										button.btn.btn-primary(style='float: right;', type='submit') Thêm khu vực
								.col-md-7
									h1 Xem 
									.form-group
										p Thông tin
								// PAGE CONTENT ENDS
							// /.col
						// /.row
					// /.page-content
			// /.main-content
			.footer
				.footer-inner
					.footer-content
						span.bigger-120
							span.blue.bolder Ace
							| 							Application © 2013-2014
						span.action-buttons
							a(href='#')
								i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
							a(href='#')
								i.ace-icon.fa.fa-facebook-square.text-primary.bigger-150
							a(href='#')
								i.ace-icon.fa.fa-rss-square.orange.bigger-150
			a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse(href='#')
				i.ace-icon.fa.fa-angle-double-up.icon-only.bigger-110
		// /.main-container
		// basic scripts
		//if !IE
		script(src='/assets1/js/jquery-2.1.4.min.js')
		// <![endif]
		//if IE
			script(src='/assets1/js/jquery-1.11.3.min.js')
		script(type='text/javascript').
			if('ontouchstart' in document.documentElement) document.write("<script src='/assets1/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		script(src='/assets1/js/bootstrap.min.js')
		// page specific plugin scripts
		script(src='/assets1/js/jquery.bootstrap-duallistbox.min.js')
		script(src='/assets1/js/jquery.raty.min.js')
		script(src='/assets1/js/bootstrap-multiselect.min.js')
		script(src='/assets1/js/select2.min.js')
		script(src='/assets1/js/jquery-typeahead.js')
		// ace scripts
		script(src='/assets1/js/ace-elements.min.js')
		script(src='/assets1/js/ace.min.js')
		// Yandex.Metrika counter
		script(type='text/javascript').
			(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
			try {
			w.yaCounter25836836 = new Ya.Metrika({id:25836836,
			webvisor:true,
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true});
			} catch(e) { }
			});
			var n = d.getElementsByTagName("script")[0],
			s = d.createElement("script"),
			f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
			if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src='/mc.yandex.ru/watch/25836836', style='position:absolute; left:-9999px;', alt='')
		// /Yandex.Metrika counter
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-38894584-2', 'auto');
			ga('send', 'pageview');
